
<ion-content [fullscreen]="true">
<ion-grid>


  <ion-row>
    <ion-col size="8">
      <ion-text><strong>Nombre de<br>editor:</strong>{{respuestadetonysvisualizarformularioresuelto[0].nombre_usuario_que_respondio}}</ion-text>
    </ion-col>
    <ion-col size="4" style="text-align:right;">
      <ion-text *ngIf="respuestadetonysvisualizarformularioresuelto">Fecha:{{respuestadetonysvisualizarformularioresuelto[0].fecha_creacion | date:'shortDate':'GMT-3'}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="text-align:center;">
    <ion-col> 
    <strong>
      <ion-text>Formulario de Comunicación de Datos para los Franquiciatarios</ion-text>
    </strong>
    </ion-col>
  </ion-row>

<ion-card *ngFor="let cadarespuesta of respuestadetonysvisualizarformularioresuelto; let i=index;">

<section *ngIf="cadarespuesta.tipo=='abierta'">
  <ion-row class="ion-align-items-center filagris main-row-code">
    <ion-col size="auto">
    <strong>{{i+1}}</strong>
    </ion-col>
    <ion-col class="columnablanca">
      {{cadarespuesta.pregunta}}
    </ion-col>
  </ion-row>
  
  <ion-row  class="filagris main-row-code2">
    <ion-col size="auto">
     Respuesta:
    </ion-col>
    <ion-col class="columnablanca" style="border-right: 1px solid #000000;">
      <ion-text>{{cadarespuesta.respuestaabierta}}</ion-text>
    </ion-col>
  </ion-row>
</section>


<section *ngIf="cadarespuesta.tipo=='cerrada'">
  <ion-row class="ion-align-items-center filagris main-row-code">
    <ion-col size="auto">
    <strong>{{i+1}}</strong>
    </ion-col>
    <ion-col class="columnablanca">
      {{cadarespuesta.pregunta}}
    </ion-col>
  </ion-row>
  
  <ion-row style="text-align:center;">
    <ion-col *ngIf="cadarespuesta.a" size="6" [class]="cadarespuesta.respuestacerrada == 'a' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.a}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='a'"></ion-icon>
    </ion-col>
    <ion-col *ngIf="cadarespuesta.b" size="6"[class]="cadarespuesta.respuestacerrada == 'b' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.b}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='b'"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="text-align:center;">
    <ion-col *ngIf="cadarespuesta.c" size="6"[class]="cadarespuesta.respuestacerrada == 'c' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.c}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='c'"></ion-icon>
    </ion-col>
    <ion-col *ngIf="cadarespuesta.d" size="6"[class]="cadarespuesta.respuestacerrada == 'd' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.d}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='d'"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="text-align:center;">
    <ion-col *ngIf="cadarespuesta.e" size="6"[class]="cadarespuesta.respuestacerrada == 'e' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.c}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='e'"></ion-icon>
    </ion-col>
    <ion-col *ngIf="cadarespuesta.f" size="6"[class]="cadarespuesta.respuestacerrada == 'f' ? 'seleccionada' : 'noseleccionada'">
      {{cadarespuesta.d}}&nbsp;<ion-icon name="checkmark-done-outline" *ngIf="cadarespuesta.respuestacerrada=='f'"></ion-icon>
    </ion-col>
  </ion-row>
</section>




</ion-card>





</ion-grid>
</ion-content>
