
<ion-content [fullscreen]="true">
<ion-grid>


  <ion-row>
    <ion-col size="8">
      <ion-text><strong>Nombre de<br>editor:</strong>Juan Carlos Perez</ion-text>
    </ion-col>
    <ion-col size="4" style="text-align:right;">
      <ion-text>Fecha:08/09/2022</ion-text>
    </ion-col>
  </ion-row>
    
  <ion-row style="text-align:center;">
    <ion-col> 
    <strong>
      <ion-text>Formulario de Comunicación de Datos para los Franquiciatarios</ion-text>
    </strong>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center filagris main-row-code">
    <ion-col size="auto">
    <strong>1</strong>
    </ion-col>
    <ion-col class="columnablanca">
      ¿ pacio sin ruptura) sirve para representar en HTML un espacio en blanco y se utiliza normalmente en dos casos: Cuando queremos  pacio sin ruptura) sirve para representar en HTML un espacio en blanco y se utiliza normalmente en dos casos: Cuando queremos pacio sin ruptura) sirve para  casos: Cuando queremos?
    </ion-col>
  </ion-row>

  <ion-row  class="filagris main-row-code2">
    <ion-col size="auto">
     Respuesta:
    </ion-col>
    <ion-col class="columnablanca" style="border-right: 1px solid #000000;">
      <ion-text>lorel sj fsdfds sddgfe clfl sdfs dfñahdlifdsf sdf sdfs</ion-text>
    </ion-col>
  </ion-row>






</ion-grid>
</ion-content>
