
<ion-content [fullscreen]="true">
<ion-grid>


  <ion-row>
    <ion-col size="8">
      <ion-text><strong>Nombre de<br>editor:</strong>Juan Carlos Perez</ion-text>
    </ion-col>
    <ion-col size="4" style="text-align:right;">
      <ion-text>Fecha:08/09/2022</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="text-align:center;">
    <ion-col> 
    <strong>
      <ion-text>Formulario de Comunicación de Datos para los Franquiciatarios</ion-text>
    </strong>
    </ion-col>
  </ion-row>

<ion-card *ngFor="let cadarespuesta of respuestadetonysvisualizarformularioresuelto; let i=index;">

<section *ngIf="cadarespuesta.tipo=='abierta'">
  <ion-row class="ion-align-items-center filagris main-row-code">
    <ion-col size="auto">
    <strong>{{i+1}}</strong>
    </ion-col>
    <ion-col class="columnablanca">
      {{cadarespuesta.pregunta}}
    </ion-col>
  </ion-row>
  
  <ion-row  class="filagris main-row-code2">
    <ion-col size="auto">
     Respuesta:
    </ion-col>
    <ion-col class="columnablanca" style="border-right: 1px solid #000000;">
      <ion-text>{{cadarespuesta.respuestaabierta}}</ion-text>
    </ion-col>
  </ion-row>
</section>


<section *ngIf="cadarespuesta.tipo=='cerrada'">
  <ion-row class="ion-align-items-center filagris main-row-code">
    <ion-col size="auto">
    <strong>{{i+1}}</strong>
    </ion-col>
    <ion-col class="columnablanca">
      {{cadarespuesta.pregunta}}
    </ion-col>
  </ion-row>
  
  <ion-row style="text-align:center;">
    <ion-col size="6">
     Respuesta: A
    </ion-col>
    <ion-col size="6">
      Respuesta: B
    </ion-col>
  </ion-row>
  <ion-row style="text-align:center;">
    <ion-col size="6">
     Respuesta: C
    </ion-col>
    <ion-col size="6">
      Respuesta: D
    </ion-col>
  </ion-row>
</section>




</ion-card>





</ion-grid>
</ion-content>
